<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('./partials/navigation.ejs') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo quisquam nostrum hic quia soluta possimus consequatur maxime eveniet facere, similique numquam dolore ipsam repellat, iusto, repudiandae amet sapiente. Officiis exercitationem iusto eum a! Quam fuga, dolorum quaerat culpa magni aspernatur veniam, soluta debitis nesciunt iusto sit sed blanditiis nemo molestiae repellat, rerum sint fugit ipsam dignissimos voluptatem consectetur dicta voluptatibus velit similique. Distinctio quas in amet consequatur incidunt, reprehenderit officiis numquam molestias? Aliquam, libero illo saepe inventore excepturi quisquam harum exercitationem minima consequuntur facere labore totam natus molestiae, assumenda, laboriosam quo quos deleniti voluptate explicabo tempora odio quaerat? Dolore enim at aperiam sapiente nihil laborum ut soluta nobis, recusandae, vel quo facilis! Maxime, aliquam laudantium ex pariatur nobis non sunt vero officia saepe veniam facilis repellat libero magni culpa delectus, voluptas debitis sapiente! Ea, necessitatibus dolorum. Repudiandae debitis modi sapiente ea in, odio praesentium veritatis! Eveniet corrupti dignissimos nulla exercitationem, repellat quasi magni eius perspiciatis necessitatibus veniam repellendus laboriosam odio asperiores voluptatum quis dolores nobis! Laboriosam, eaque, itaque illum ab id beatae, molestias fugiat ullam nihil ex quis voluptates in ratione aliquam dolores tempora aperiam minima? Atque hic deserunt, dolorum iste libero minima, tenetur, sit facilis iure laboriosam aut!</p>
        </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>